streamlit
langchain
langchain-community
chromadb
tiktoken
pysqlite3-binary; sys_platform == "linux"
pypdf
langchain-openai
sentence-transformers
openai 
python-dotenv
protobuf>=5.27.3
streamlit-extras